@import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);

* {
  box-sizing: border-box;
}

.one-movement {
  animation: move 3s;
  -webkit-animation: move 3s;
 // color:pink;
}
@keyframes move {
  from {
  margin-left: 100%;
  width: 300%;  
  }

  to {
  margin-left: 0%;
  width: 100%;
  }
}
   
@-webkit-keyframes move {
  from {
  margin-left: 100%;
  width: 300%;  
  }

  to {
  margin-left: 0%;
  width: 100%;
  }
}

.gradient-text {
  font-family: 'Rubik One', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #FEB195 33%, #F67280 66%, #C06C84);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
  margin: 20px auto;
}

body {
    display: flex;
    flex-flow: column nowrap;
    min-width: 100vw;
    height: 100vh;
  font-family: Apercu,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  color: #252525;
  text-align: left;
}

#wrap {
  padding: 45px 20px;
//border: 10px solid white;
 min-height: 100%;
// background: #222;
// color: #555; text-shadow: 0px 2px 3px #171717;
// box-shadow: 0px 2px 3px #555;
// -webkit-box-shadow: 0px 2px 3px #555;
// -moz-box-shadow: 0px 2px 3px #555;
//        border-radius: 10px;
//        -webkit-border-radius: 10px;
//        -moz-border-radius: 10px;



height: 200px;
//background: linear-gradient(to right, #C06CB4, #6C5B7B);
  background: #e9e9e9;
}

.gradient-text{
    background: linear-gradient(to bottom right, #39dfa5, #1fbdf2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
/*header {
    flex: 0 0 100px;
    background: green;
}
footer {
    flex: 0 0 150px;
    background: blue;
}
main {
    flex: 1 1 auto;
    background: yellow;
}*/

.logo{
text-align: center;
}

.h1 {
font-size: 30px;
font-face: Montserrat;
text-align:center;
color:white;
font-style: italic;
margin-top:0px;
margin-bottom:0px;
}
.h2 {
font-size: 10px;
font-face: Montserrat;
text-align:center;
color:white;
font-style: italic;
margin-top:0;
}

@media (min-width: 576px){
  #wrap{
    display: flex;
    flex-wrap: wrap;
    padding-right: 40px;
    padding-left: 40px;
  }
}
